:root {
    --background-color: #023e8a;
    --card-color: #ebebeb;
    --primary-accent: #03045e;
    --secondary-accent: #00b4d8;
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    margin-bottom: 10px;
}

.card {
    width: 65%;
    background-color: var(--card-color);
    padding: 20px;
    border-radius: 25px;
    margin: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    background-color: var(--background-color);
    box-shadow: none;
    color: var(--card-color);
    margin-bottom: 0;
}

#cover-photo {
    margin: 10px;
    margin-right: 100px;
}

#cover-photo img{
    border-radius: 50%;
    width: 150px;
    height: auto;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

#intro-text{
    text-align: center;
}

h1{
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 5px;
    text-shadow: 1px 1px rgba(0, 180, 216, 0.95);
}

#description{
    margin-top: 5px;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 0;
}

.sub-card {
    border: 1px solid var(--background-color);
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0px 10px 0px;
}

.top-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 5px;
}

.top-line h3 {
    font-weight: 500;
}

.sub-card h4 {
    font-weight: 300;
    font-size: 15px;
}

.sub-card p {
    font-weight: 400;
    font-size: 13px;
}

.sub-card h5 {
    font-size: 14px;
}

.collapse-btn {
    background: none;
    cursor: pointer;
    font-size: 17.5px;
    box-shadow: none;
    border: none;
}

.collapse-btn:hover {
    border: 1px solid var(--primary-accent);
    border-radius: 5px;
}

.collapse-btn.active {
    transform: rotate(180deg);
}

.collapsible {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    padding-bottom: 5px;
}

.view-certi {
    color: inherit;
    text-decoration: none;
    font-size: inherit;
    background: none;
    cursor: pointer;
    font-size: 15px;
    box-shadow: none;
    border: none;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    padding-left: 5px;
    padding-right: 5px;
}

.view-certi:hover {
    border: 1px solid var(--primary-accent);
    border-radius: 5px;
}

.connect-btn {
    color: inherit;
    text-decoration: none;
    background: none;
    cursor: pointer;
    font-size: 15px;
    box-shadow: none;
    border: none;
    padding: 5px;
    font-weight: 500;
}

.connect-btn:hover {
    border: 1px solid var(--card-color);
    border-radius: 3px;
}

.a-btn {
    color: inherit;
    text-decoration: none;
    background: none;
    cursor: pointer;
    font-size: 15px;
    box-shadow: none;
    border: none;
    padding: 5px;
    font-weight: 500;
}

.a-btn:hover {
    border: 1px solid var(--primary-accent);
    border-radius: 3px;
}

#profiles {
    background-color: var(--background-color);
    box-shadow: none;
    color: var(--card-color);   
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media(max-width: 960px){
    #title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #cover-photo {
        margin: auto;
    }

    #cover-photo img {
        width: 100px;
    }

    .card{
        width: 80%
    }

    .connect-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}